* {
	font-family: 'Noto Sans KR', sans-serif;
}
	
body {
	margin: 0px;
	font-weight:700;
	min-height: 100%;
}


#profileImg {
	vertical-align: middle;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	border:1px solid lightgray;
}

.article {
	width: 1000px;	
	margin: auto;
}

#top_profile {
	width: 100% !important;
	height: 260px;
	padding-top: 30px;
	padding-left: 460px;
	padding-right: 460px;
	background-color: rgb(232,223,240);
	margin-bottom:80px;
}

#top_profile_img {
	float: left;
	width: 200px;
	height: 200px;
}

#top_profile_contents {
	float: left;
	width: 740px !important;
	height: 170px;
	padding-left: 60px;
	padding-top: 30px;
}

#top_profile_contents_table td{
	padding-right:50px !important;
}

#top_profile_contents_table #on td{
	font-size:20px !important;
	font-weight:300 !important;
	width:130px !important;
}

#top_profile_contents_table #under td{
	font-size:23px !important;
	font-weight:500 !important;
	width:140px !important;
}

#sideNav{
	width:200px;
	text-align:left;
	float:left;
}
#main{
	width:770px;
	margin-left:30px;
	text-align:left;
	float:left;
}

.sideNav_list{
	margin-bottom:40px;
}

.sideNav_list tr td{
	text-align:left;
	font-size:20px;
	height:30px;
}

.sideNav_list_category td{
	font-size:20px !important;
}
#mypage_line_0{
	height:0px;
	border-bottom:2px solid black;
	margin-top:10px;
	margin-bottom:20px;
}

#storeConfirm{
	font-size:20px;
	color:black;
	padding-left:3px;
}

.sideNav_list tr td a{
	font-size:17px;
	color:black;
}
